.footer-sep {
    margin-top: 50%;
    margin-bottom: 10%;
    color: white;
    text-decoration-thickness: 20px;
}

.footer {
    color: white;
    a {
	font-size: large;
	color: white;
    }
    a:hover {
	color: black;
	background-color: white;
    }
}
